# Blockfrost API Configuration
BLOCKFROST_PROJECT_ID=your_blockfrost_project_id_here
BLOCKFROST_NETWORK=preprod

# Wallet Configuration
WALLET_MNEMONIC=your_wallet_mnemonic_phrase_here

# Tx data
CBOR=

# DEX
DEX_API_URL=
DEX_API_KEY=
DEX_API_SECRET=
